.filechose {
  background-color: #1e1221;
  color: #f8f3e9;
  padding: 10px 40px;
  input[type="file"] {
    display: none;
  }
}
.filepull {
  background-color: #1e1221;
  color: #f8f3e9;
  padding: 10px 40px;
}
