.status {
  font-size: 30px;
  background-color: #4f5769;
  color: #f8f3e9;
  display: flex;
  justify-content: space-between;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #4d9558;
}
