.status {
  font-size: 26px;
  background-color: #4f5769;
  color: #f8f3e9;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #4d9558;
  display: flex;
  justify-content: space-between;

  .ratio {
    margin-left: 10px;
  }

  .item_name {
    margin-right: 10px;
  }
}
