$light_shades: (
  background-color: #accecf,
);

$light_accent: (
  background-color: #6186e8,
);

$main_brand_color: (
  background-color: #4f5769,
);

$dark_accent: (
  background-color: #df4573,
);

$dark_shades: (
  background-color: #1e1221,
);

$paper: (
  background-color: #f8f3e9,
);

$primary: (
  background-color: #4e5769,
);

$info: (
  background-color: #1e1221,
);

$success: (
  background-color: #4d9558,
);

$warning: (
  background-color: #ca8520,
);

$danger: (
  background-color: #f44336,
);
