@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-family: Roboto;
  user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:root {
    font-size: 100%;
  }
}

a {
  text-decoration: none;
}
